Thumbs.db
/deploy.exclude
/deploy.sh
/messages.mo
*~
*.DS_Store
#*
.idea/*
config.php
tags
cache/htmlpurifier/*/*ser
lib/htmlpurifier/library/HTMLPurifier/DefinitionCache/Serializer/*/*ser
web.config
